{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-marquee.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

<h1 class="visually-hidden">
  Shop Good Times
</h1>
<div class="section-marquee" aria-hidden="true" role="presentation">
  <div class="section-marquee__scroll-container">
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
    <span>
      <span class="icon">☻</span> Shop Good Times
    </span>
</div>

</div>

<div class="featured-products__inner page-width">

  <div role="presentation" class="featured-products__list">
    {%- for product in section.settings.product_list -%}
      <a href="#{{ product.handle }}" rel="internal" title="View {{ product.title }}" tabindex="-1" class="featured-products__list__item {% if product.selected_or_first_available_variant.available == false %} is-sold-out{% endif %}">
          <span>
            <span class="product-legend-key">
              {% cycle 'A', 'B', 'C', 'D' %}
            </span>
            <span class="product-legend-name">
              {{ product.title }} 
            </span>
          </span>
          <span> 
            {% render 'price', product: product, price_class: '' %}
          </span>
      </a>
    {% endfor %}
  </div>

  <ul class="grid product-grid grid--1-col  grid--3-col-desktop featured-products__products">

      {%- for product in section.settings.product_list -%}
        <li  class="grid__item " id="{{ product.handle }}">
          <div class="featured-products__products__item">
            <span class="product-legend-key">
              {% cycle 'A', 'B', 'C', 'D', 'E' %}
            </span>
            {% render 'card-product',
              card_product: product,
              show_secondary_image: true
              show_vendor: true
              show_rating: false
              show_quick_add: false,
              section_id: section.id
            %}
          </div>
        </li>
        {% endfor %}
  </ul>

  <div class="featured-products__cta">
    <div class="featured-products__cta__arrow-pointer">
      <svg aria-hidden="true" focusable="false" role="presentation">
        <use href="#pointer-arrow-down">
      </svg>
    </div>
    <a href="{{ section.settings.collection.url }}" class="button button--medium  button--primary">
      {{ section.settings.cta_label }}
    </a>
  </div>
  
</div>



{% schema %}
{
  "name": "Featured products",
  "tag": "section",
  "class": "section featured-products",
  "templates": [
    "index"
  ],
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products to feature",
      "limit": 3
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Parent Collection",
      "info": "The collection this section should link to."
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Label"
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
