{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-marquee.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

<h1 class="visually-hidden">
  Shop Good Times
</h1>
<div class="section-marquee" aria-hidden="true" role="presentation">
  <span >
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
  <span>
    Shop Good Times
  </span>
</div>

<div class="featured-products__inner page-width">

  <div role="presentation">
    {%- for product in section.settings.product_list -%}
    <span>
      <a href="{{ product.url }}" rel="internal" title="View {{ product.title }}" tabindex="-1">{{ product.title }}</a>
    </span>
    {% endfor %}
  </div>

      <ul id="Slider-{{ section.id }}" class="grid product-grid grid--1-col  grid--3-col-tablet ">

          {%- for product in section.settings.product_list -%}
            <li  class="grid__item">
              {% render 'card-product',
                card_product: product,
                show_secondary_image: true
                show_vendor: true
                show_rating: false
                show_quick_add: false,
                section_id: section.id
              %}
            </li>
            {% endfor %}
      <ul>

      <div>

      <a href="{{ section.settings.collection.url }}">
        {{ section.settings.cta_label }}
      </a>
  </div>
</div>



{% schema %}
{
  "name": "Featured products",
  "tag": "section",
  "class": "section featured-products",
  "templates": [
    "index"
  ],
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products to feature",
      "limit": 3
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Parent Collection",
      "info": "The collection this section should link to."
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Label"
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
