<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{% comment %} <link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
{% comment %} <noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__heading-logo {
    max-width: {{ section.settings.logo_width }}px;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 700px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>



<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<header-wrapper class="header-wrapper">
  <div class="header-background" data-header-background>
    
  </div>
  <header class="header {% if section.settings.menu != blank %} header--has-menu{% endif %}     {%- if request.page_type != 'index' -%} is-subpage {% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary  class="menu-drawer__menu-item list-menu__item  focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1" data-submenu-wrapper>
                              <div class="menu-drawer__inner-submenu" data-submenu-content>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}"   class="menu-drawer__menu-item  list-menu__item focus-inset menu-drawer__child-item {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item  list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button  focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item  list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}"  class="menu-drawer__menu-item list-menu__item  focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {% comment %} {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="modal__close-button  focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%} {% endcomment %}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
      <div  class="header__heading">
          <a href="{{ routes.root_url }}" class="header__heading-link">
            <svg id="NAVIGATION" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.2 106.2"><title>Good Times Store</title><path d="M639.5,39.2h1.4c2.1,0,3.5.8,3.9,2.9a46.3,46.3,0,0,1,.4,6.5,7.6,7.6,0,0,0,.7-1.3c2-3.5,4.1-6.9,7.6-9.2a17.6,17.6,0,0,1,3.9-1.9c2.9-1,4-.1,4.5,2.9a.2.2,0,0,0,.2.2c4-.1,5.4,1.2,5.4,5.2a28.3,28.3,0,0,1-.5,5,41.9,41.9,0,0,1-1.6,4.6l.4.2a6.1,6.1,0,0,0,.7-1.4c1.8-5.9,4.6-11.2,9.9-14.8a18.7,18.7,0,0,1,6.6-2.4,7.6,7.6,0,0,1,7.2,2.5l.9-1.7c2.7-4.8,5.3-9.8,8.1-14.6,1.4-2.4,3.7-2.4,5.3-.2s1.9,6.1.3,9.2c-3.7,7.2-7.4,14.3-11,21.5-1.3,2.6-2.4,5.3-3.6,8l.4.5a13.1,13.1,0,0,0,2.1-.8c3.1-1.8,5.3-4.5,7.5-7.2a31.9,31.9,0,0,0,2.3-3.2c.9-1.8,2.4-1.8,4-1.5,0,.2.1.3.1.4-3.9,6.5-8.2,12.5-15.1,16.1a17.9,17.9,0,0,1-6,1.7c-3.1.4-4.5-1-4.6-4.1V60.5l-4.2,3.7a6.4,6.4,0,0,1-7.4,1.1c-2.7-1.3-3.6-3.6-3.6-6.4V57.8l-.4-.7a11,11,0,0,0-2.6,1.5c-2,1.7-3.8,3.7-5.9,5.3a10.9,10.9,0,0,1-7.7,2.1c-3.8-.3-5.9-2.4-6.1-6.2V57a19.2,19.2,0,0,0-2.6,1.4c-1.5,1.4-2.8,3-4.3,4.3a12.3,12.3,0,0,1-9.5,3.3c-3.6-.3-5.8-2.4-5.9-6.1a25.5,25.5,0,0,1,3.1-13.2l1-1.7a2,2,0,0,1-.1-.5h-.8c-3,4.5-5.9,9.1-5.8,14.7a7.7,7.7,0,0,0,.8,3.4,7.3,7.3,0,0,0,2,1.9c.4.4,1.2,1,1.1,1.1a3,3,0,0,1-1.2,1.5,2.8,2.8,0,0,1-1.8-.1c-3.6-1.4-6.5-3.7-7.9-7.8a10.2,10.2,0,0,1-1.8,1.3c-2.8,1.6-5.5,3.5-8.4,4.6-6.6,2.4-15.9-2.5-17.6-9.3a14.3,14.3,0,0,1,.2-6.5c1.3-5.6,4.2-10.4,7.5-15a59.7,59.7,0,0,1,12.9-14.1,34.6,34.6,0,0,1,4.7-3.1c3.4-1.9,7-1.8,10.6-.6a4.7,4.7,0,0,1,2.8,6.6c-.7,1.3-1.8,2.5-2.6,3.8a43.7,43.7,0,0,0-2.5,4.8c-.6,1.1-1.5,1.4-2.3.4a3.2,3.2,0,0,1-.6-3.8c.6-1.4,1.3-2.7,1.8-4.1a8.8,8.8,0,0,0,.7-2.3,2.3,2.3,0,0,0-.5-1.5,1.7,1.7,0,0,0-1.5.2c-2.9,2.4-6,4.5-8.5,7.3-5.4,5.8-9.7,12.4-11.6,20.3a12.5,12.5,0,0,0,.8,8.5c1.8,3.8,5.6,5,9.2,2.8a30.2,30.2,0,0,0,10.5-11.1l.8-1.8a7,7,0,0,0,.2-1.3c-2,.9-3.7,1.5-5.3,2.3a1.6,1.6,0,0,1-2.4-.7,1.5,1.5,0,0,1,.4-2.3l.9-.5A24.7,24.7,0,0,1,623.2,42l2.9.8a19.5,19.5,0,0,1,2.4-2.6,41.8,41.8,0,0,1,6.3-4C637.8,35,639,35.9,639.5,39.2Zm35,19.4c.4.9.6,1.8,1,2a2.2,2.2,0,0,0,1.9-.5,14.3,14.3,0,0,0,3-3.5c2.7-4.8,5.3-9.6,7.9-14.5.3-.5.3-1.5,0-1.7s-1.4-.8-1.8-.5a9.5,9.5,0,0,0-3.7,2.4,64.7,64.7,0,0,0-5.8,8.9C675.8,53.5,675.3,56.2,674.5,58.6ZM642.7,46.7c-.6-1-.9-2.4-1.5-2.5a3.3,3.3,0,0,0-2.8,1,22.4,22.4,0,0,0-2.6,5.4,3.3,3.3,0,0,0,2.1,3.8c1.1.4,2,.3,2.4-.9S641.8,49.1,642.7,46.7Zm22.3,0c-.5-1-.8-2.4-1.4-2.6a3.7,3.7,0,0,0-2.7,1,8.3,8.3,0,0,0-2.7,5.6,3.6,3.6,0,0,0,2.3,3.8c1,.3,1.8.2,2.2-.9Zm-10.8,4.4a16.1,16.1,0,0,0-2.3,8.2c0,1.7.9,2.5,2.2,2.2s3.8-2.2,5.7-3.9C656.1,56.6,654.2,54.6,654.2,51.1Zm-16.8,6.8c-4.8-2.9-4.8-2.9-5.6-7.1-1.4,3-2.5,5.8-2.2,8.9a1.7,1.7,0,0,0,2.7,1.6C634,60.4,635.6,59.1,637.4,57.9Z" transform="translate(-575.7 -14.2)" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M658.7,106.5c3.1-.4,5.9-2.9,6.3-5.4a22.9,22.9,0,0,1,6.9-12.6,19.3,19.3,0,0,1,5.9-3.4c3.1-1,5.1-.4,7.5,1.8.8-.9,1.6-1.9,2.5-2.8,2.6-2.6,5.6-4,9.4-3.2a6.2,6.2,0,0,1,4.1,3.1c1,1.9.3,3.4-1.8,3.7h-.9c-4.2.5-5.4,2-4.9,6.3a49.4,49.4,0,0,0,1,5.3c.2,1,.7,1.2,1.5.7a65.8,65.8,0,0,0,5.4-3.8,3.2,3.2,0,0,1,3.3-.5,17.1,17.1,0,0,1-1.1,1.4,18.9,18.9,0,0,1-7,5.2,2.1,2.1,0,0,0-1.6,2.4c.2,7.3-8.3,10.3-12.9,7.8a30.2,30.2,0,0,1-4-3.4,53.8,53.8,0,0,1-5.6,1.7c-4.1.8-6.1-.2-8.1-4.1a10.9,10.9,0,0,0-1.7,1.3,16.7,16.7,0,0,1-8,3.3c-2.8.3-4.3-1-4.1-3.8a41.8,41.8,0,0,1,1.6-7,7.9,7.9,0,0,0,.5-2.2l-1,1.3c-2.2,3.2-4.4,6.3-6.4,9.5a5.2,5.2,0,0,1-5.2,2.1,2.6,2.6,0,0,1-2.4-3q.5-3.9,1.2-7.8c.4-1.5,1.1-3.1,1.4-4.8L639.4,97l-8.3,12a4.9,4.9,0,0,1-2,1.8c-3.2,1.4-4.9.5-6-3.3a8,8,0,0,1-1.9,1.3c-2.4.9-4.7,2.1-7.2,2.6s-4-1-3.8-3.6a21.1,21.1,0,0,1,1.5-6.6c2.3-5,4.9-10,7.6-14.9,1.1-2,2.7-2.1,4.4-.4s2,5.2.5,8-3.3,6.3-4.9,9.4a28.3,28.3,0,0,0-1.1,3.1c2.5-.1,5.3-2.5,6.1-4.5,2-4.8,4-9.6,6.1-14.4a7.7,7.7,0,0,1,1.4-2.1c1.2-1.7,2.9-1.7,4.3-.2s1.9,5.3.5,8.1-2.8,5.9-4.2,8.9a3.1,3.1,0,0,0-.2,1.1c2.3-3.3,4.4-6.8,6.8-9.9a86.3,86.3,0,0,1,7.5-8.4c1.5-1.5,3.1-1.1,4.3.6s1.5,5.3.1,8-3.1,6.3-4.6,9.5l.4.2c1-1.5,1.9-3.1,3-4.5,3.1-4.2,6.1-8.4,9.5-12.3s5.4-2.1,6.3,1.7a7.2,7.2,0,0,1-.7,5.7c-1.8,3.3-3.5,6.8-5.3,10.2C659.2,104.8,659,105.6,658.7,106.5Zm25.2-10.4c-2,2.7-4.4,4.3-7.7,4s-2.7-.2-3.4,2.5a3.2,3.2,0,0,0-.2,1.4c.1,1,.1,2.4.7,2.8a3.2,3.2,0,0,0,3,.1c2.5-1.8,4.8-3.9,7.2-5.8S684.8,98,683.9,96.1Zm-8.2.1c3.1,1.2,7.3-3.6,6.8-7.5C680.3,88.8,676.6,92.9,675.7,96.2Zm6.9,11.8c2.2.9,3.5.3,3.9-1.9Z" transform="translate(-575.7 -14.2)" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M690,68.5c-2.2,1.7-4.1,3.4-6.1,4.9a2.7,2.7,0,0,1-1.3.2c-19.3-.7-38.6.2-57.9,1.3-6.9.4-4.9-.8-8.4,5.1-5.5,9.3-10.4,19-13.4,29.6-.5,2.1-.7,4.3-1,6.5v.5c-.6,1.2-.8,2.8-1.7,3.4s-2.2-.7-3.3-1.2l-.6-.5c-4.3-3.6-4.9-5.5-3.2-10.9,3-8.9,7.9-17,13.1-24.8,1.4-2.1,3-4.1,4.7-6.6-7.8,1.1-15,2.7-21.5,6.7,1.2,2.7,2.7,3.2,5,1.6.7-.4,1.3-1.1,2.1-1.5a1.7,1.7,0,0,1,1.2,0,1.4,1.4,0,0,1,0,1.1c-1.8,2.1-3.5,4.2-5.4,6.1a3.6,3.6,0,0,1-2.9.4,27.9,27.9,0,0,1-10.1-5.6c-1.2-1.1-1.4-2.3-.1-3.2a38.4,38.4,0,0,1,6.9-4.4,104.2,104.2,0,0,1,36.1-8.1c19-1.1,37.9-1.7,56.9-1.5,3.2.1,6.3.4,9.4.6Z" transform="translate(-575.7 -14.2)" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M624.2,82.7a3.3,3.3,0,0,1-1.3-.7c-.1-.2.3-1,.6-1.4l2.6-3.6c.8-1.2,2.1-1.4,3.6-.5a2.1,2.1,0,0,1,.6,3.3A7.9,7.9,0,0,1,624.2,82.7Z" transform="translate(-575.7 -14.2)" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M637.2,38h1.3c2.1,0,3.6.8,3.9,2.9a46.2,46.2,0,0,1,.5,6.5,7.6,7.6,0,0,0,.7-1.3c1.9-3.5,4.1-6.9,7.6-9.2a19.3,19.3,0,0,1,3.8-1.9c2.9-1,4.1-.1,4.5,2.9l.3.2c4-.1,5.4,1.2,5.4,5.2a26.3,26.3,0,0,1-.5,4.9c-.4,1.6-1.1,3.2-1.6,4.7l.4.2.7-1.4c1.7-5.9,4.6-11.2,9.9-14.8a18.7,18.7,0,0,1,6.6-2.4,7.6,7.6,0,0,1,7.2,2.5l.9-1.7c2.7-4.9,5.3-9.8,8.1-14.6,1.4-2.4,3.7-2.4,5.3-.2s1.9,6,.3,9.2c-3.8,7.2-7.4,14.3-11,21.5-1.3,2.6-2.4,5.3-3.6,8l.4.5a18,18,0,0,0,2.1-.8c3.1-1.8,5.3-4.5,7.4-7.2a21.3,21.3,0,0,0,2.3-3.2c1-1.9,2.5-1.8,4.1-1.5,0,.2.1.3,0,.4-3.8,6.5-8.2,12.5-15,16.1a17.9,17.9,0,0,1-6,1.7c-3.1.4-4.5-1-4.6-4.1V59.3c-1.6,1.3-2.9,2.5-4.2,3.7s-4.7,2.4-7.4,1.1-3.6-3.6-3.6-6.4V56.6l-.4-.7a11,11,0,0,0-2.6,1.5c-2,1.7-3.8,3.7-5.9,5.3a11,11,0,0,1-7.7,2.1c-3.8-.3-5.9-2.4-6.1-6.2a25.7,25.7,0,0,1,0-2.8,14.5,14.5,0,0,0-2.6,1.4c-1.5,1.4-2.8,3-4.4,4.3a12,12,0,0,1-9.4,3.3c-3.7-.3-5.8-2.4-5.9-6.1a24.3,24.3,0,0,1,3.1-13.2l.9-1.7c.1-.1,0-.2,0-.5h-.8c-3,4.5-5.9,9.1-5.8,14.7a7.7,7.7,0,0,0,.7,3.4c.4.8,1.4,1.3,2.1,1.9s1.2,1,1.1,1.1a2.7,2.7,0,0,1-1.3,1.5,2.5,2.5,0,0,1-1.7-.1c-3.6-1.4-6.5-3.7-7.9-7.8a15.8,15.8,0,0,1-1.8,1.3c-2.8,1.6-5.5,3.5-8.4,4.6-6.6,2.4-15.9-2.5-17.6-9.3a13.1,13.1,0,0,1,.2-6.5c1.2-5.6,4.2-10.4,7.4-15a62.3,62.3,0,0,1,13-14.1,34.6,34.6,0,0,1,4.7-3.1c3.4-1.9,7-1.8,10.6-.6a4.6,4.6,0,0,1,2.7,6.6,41.3,41.3,0,0,1-2.5,3.8c-.9,1.5-1.8,3.1-2.6,4.7s-1.4,1.5-2.3.5a3.3,3.3,0,0,1-.5-3.8l1.8-4.1a6.1,6.1,0,0,0,.6-2.4,1.7,1.7,0,0,0-.4-1.4,1.7,1.7,0,0,0-1.5.2c-2.9,2.4-6,4.5-8.5,7.3-5.5,5.8-9.7,12.4-11.6,20.3a12.2,12.2,0,0,0,.7,8.4c1.9,3.9,5.7,5.1,9.3,2.9a31.1,31.1,0,0,0,10.5-11.1,13.4,13.4,0,0,0,.7-1.8c.1-.3.1-.5.3-1.3-2,.9-3.7,1.5-5.3,2.3s-1.8.2-2.5-.7a1.6,1.6,0,0,1,.5-2.3l.8-.5a25,25,0,0,1,13.7-2.2l3,.8a14.5,14.5,0,0,1,2.4-2.6,32,32,0,0,1,6.3-4C635.4,33.8,636.7,34.7,637.2,38Zm35,19.4c.4.9.5,1.8,1,2a2.2,2.2,0,0,0,1.9-.5,16.8,16.8,0,0,0,3-3.5c2.7-4.8,5.3-9.6,7.9-14.5.2-.5.3-1.5,0-1.7a1.8,1.8,0,0,0-1.9-.5,9.1,9.1,0,0,0-3.6,2.4,56.6,56.6,0,0,0-5.8,8.9C673.5,52.3,673,55,672.2,57.4ZM640.3,45.5c-.5-1-.8-2.4-1.4-2.5a3.2,3.2,0,0,0-2.8,1,22.4,22.4,0,0,0-2.6,5.4,3.2,3.2,0,0,0,2.1,3.8c1,.4,2,.3,2.4-.9S639.5,47.9,640.3,45.5Zm22.4,0c-.5-1-.8-2.4-1.4-2.6a3.7,3.7,0,0,0-2.7,1,8.4,8.4,0,0,0-2.8,5.6,3.3,3.3,0,0,0,2.4,3.7c1,.4,1.8.2,2.1-.8Zm-10.8,4.4a16.1,16.1,0,0,0-2.3,8.2c0,1.7.8,2.5,2.2,2.2s3.8-2.2,5.7-3.9C653.8,55.4,651.9,53.4,651.9,49.9Zm-16.8,6.8c-4.8-2.9-4.8-2.9-5.7-7.1-1.3,3-2.4,5.8-2.2,8.9s1.3,2.3,2.7,1.6A51.3,51.3,0,0,0,635.1,56.7Z" transform="translate(-575.7 -14.2)" fill="#f7e921" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M656.4,105.3c3-.4,5.8-2.9,6.3-5.4a22.3,22.3,0,0,1,6.9-12.6,18.2,18.2,0,0,1,5.9-3.4c3.1-1,5-.4,7.5,1.8.8-.9,1.5-1.9,2.4-2.8,2.6-2.6,5.7-4,9.5-3.2a6.2,6.2,0,0,1,4.1,3.1c1,1.9.2,3.4-1.9,3.7h-.8c-4.3.5-5.5,2-5,6.3a49.9,49.9,0,0,0,1.1,5.3c.1,1,.7,1.2,1.5.7a65.8,65.8,0,0,0,5.4-3.8,3,3,0,0,1,3.2-.5l-1,1.4a18.9,18.9,0,0,1-7,5.2,2.1,2.1,0,0,0-1.6,2.4c.2,7.3-8.3,10.3-12.9,7.8a38.7,38.7,0,0,1-4.1-3.4c-1.5.5-3.5,1.2-5.5,1.7-4.1.8-6.1-.2-8.2-4.1l-1.6,1.2a16.3,16.3,0,0,1-8,3.4c-2.8.3-4.4-1-4.1-3.8a41.8,41.8,0,0,1,1.6-7,7.9,7.9,0,0,0,.5-2.2,11.3,11.3,0,0,0-1,1.3c-2.2,3.2-4.4,6.3-6.5,9.5s-3.1,2.3-5.2,2.1a2.6,2.6,0,0,1-2.3-3,70.1,70.1,0,0,1,1.2-7.8c.3-1.6,1-3.1,1.3-4.8l-1,1.3-8.3,12a4.9,4.9,0,0,1-2,1.8c-3.2,1.4-4.9.5-6-3.3a10.7,10.7,0,0,1-1.9,1.3,69.3,69.3,0,0,1-7.2,2.6c-2.5.4-4-1-3.8-3.6a18.7,18.7,0,0,1,1.5-6.6c2.3-5.1,4.9-10,7.5-14.9,1.1-2,2.8-2.1,4.5-.4s2,5.2.5,8l-4.9,9.4a28.3,28.3,0,0,0-1.1,3.1c2.5-.1,5.3-2.5,6.1-4.5,1.9-4.8,4-9.6,6.1-14.4a7.4,7.4,0,0,1,1.3-2.1c1.3-1.7,3-1.7,4.4-.2s1.9,5.3.5,8.1-2.8,5.9-4.2,8.8a2.3,2.3,0,0,0-.2,1.2c2.3-3.4,4.4-6.8,6.8-9.9a74.9,74.9,0,0,1,7.5-8.4c1.4-1.5,3.1-1.1,4.3.6s1.4,5.3.1,8-3.1,6.3-4.6,9.5l.4.2c1-1.5,1.9-3.1,3-4.5,3.1-4.2,6.1-8.4,9.5-12.3s5.3-2.1,6.3,1.7a7.7,7.7,0,0,1-.7,5.7c-1.9,3.3-3.6,6.7-5.3,10.1C656.9,103.6,656.7,104.4,656.4,105.3Zm25.2-10.4c-2,2.7-4.4,4.3-7.7,4s-2.7-.2-3.4,2.4a3.9,3.9,0,0,0-.2,1.5c.1,1,.1,2.4.7,2.8a3.5,3.5,0,0,0,3,.1c2.5-1.8,4.8-3.9,7.1-5.8S682.5,96.8,681.6,94.9Zm-8.2.1c3.1,1.2,7.3-3.6,6.7-7.6C678,87.6,674.3,91.7,673.4,95Zm6.9,11.8c2.2.9,3.4.3,3.9-1.9Z" transform="translate(-575.7 -14.2)" fill="#f7e921" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M687.7,67.3l-6.2,4.9c-.2.2-.8.2-1.2.2-19.4-.7-38.7.2-57.9,1.3-7,.4-5-.8-8.4,5.1-5.5,9.3-10.5,19-13.4,29.6a46.3,46.3,0,0,0-1,6.5c-.1.2,0,.4-.1.5s-.7,2.8-1.6,3.4-2.2-.7-3.3-1.2-.4-.3-.7-.5c-4.2-3.6-4.9-5.5-3.1-10.9,3-8.9,7.9-17,13.1-24.8,1.4-2.1,2.9-4.1,4.7-6.6-7.8,1-15,2.7-21.6,6.7,1.3,2.7,2.8,3.2,5,1.6s1.4-1.1,2.2-1.5a1.7,1.7,0,0,1,1.2,0,1.7,1.7,0,0,1,0,1c-1.8,2.2-3.5,4.3-5.4,6.2s-2.1.6-3,.4a28.3,28.3,0,0,1-10-5.6c-1.2-1.1-1.4-2.3-.2-3.2a34.3,34.3,0,0,1,7-4.4c11.4-5.1,23.5-7.4,36.1-8.1,18.9-1.1,37.9-1.7,56.9-1.5l9.4.6Z" transform="translate(-575.7 -14.2)" fill="#f7e921" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/><path d="M621.9,81.5a3.3,3.3,0,0,1-1.3-.7c-.2-.2.3-1,.6-1.4l2.6-3.6c.8-1.2,2.1-1.4,3.6-.5a2.2,2.2,0,0,1,.6,3.3A7.9,7.9,0,0,1,621.9,81.5Z" transform="translate(-575.7 -14.2)" fill="#f7e921" stroke="#000" stroke-miterlimit="10" stroke-width="0.65"/></svg>
          </a>
      </div>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" >
                      <summary data-hover-link data-click-link  class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure  motion-reduce" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item header__menu-child-item  focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item  list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item  focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" data-hover-link class="header__menu-item header__menu-item list-menu__item  focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary   data-click-link data-hover-link class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                        <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- if childlink.links != blank -%}
                                <ul class="list-unstyled" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}"  data-hover-link class="header__menu-item header__menu-item list-menu__item  focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      {% comment %} <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button  focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal> {% endcomment %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</header-wrapper>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
